/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2016, 5:53:40 PM
    Author     : Shahbayki
*/
.dy-post-gallery-image {
    position: relative;
    padding: 3px 3px 0px 3px;
    margin: 1px;
    border: 2px solid #d6d6d6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

div#dy-post-gallery-metabox ul li {
    display: block;
}

a.dy-post-gallery-delete {
    position: absolute;
    top: 7px;
    left: 7px;
    background: #FFF;
    padding: 0 6px;
    color: #000;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.7);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,.7);
    -o-box-shadow: 1px 1px 5px rgba(0,0,0,.7);
    box-shadow: 1px 1px 5px rgba(0,0,0,.7);
    opacity: .1;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

div#dy-post-gallery-metabox ul li:hover a{
	opacity: 1;
}

li.add-new .dy-post-gallery-image{
	cursor: pointer;
}

.shortcode-help {
    background: #f7fff6;
    padding: 5px 15px;
    border: 1px solid #77ff6b;
    margin: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border-right-width: 5px;
}

/*Metabox Options*/
div#dy-post-gallery-metabox div.settings>div{
    display: inline-block;
}
div#dy-post-gallery-metabox input[type=checkbox]:not(old),
div#dy-post-gallery-metabox input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

div#dy-post-gallery-metabox input[type=checkbox]:not(old) + label,
div#dy-post-gallery-metabox input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAABICAMAAADbJ8U9AAAA7VBMVEX////MzMzBwcHCwsLDw8PBwcHCwsLJycnLy8vMzMzBwcFzmU12m1B5n1R7n1Z7n1d8oFmErlqLsmWLt16VwmiXxGuZxW6aymqbtYKbxnGctYKcy22dtoOdt4Odx3SdzmyfyHefz3Cgz3Cgz3Ki0XOi0XSk0nel0nin03un1Hyo0X6p0oKp1H+q1YCs1oKu14a1xaTAwMDJ0sDK08HK1MHL1MLM1cPM1cTN1sTO18XP2MbQ2MfW29Ha2trc3Nzd4tjh4eHi4uLj4+Pk5OTl5eXm5ubn5+fo6Ojo6ebp6enq6urr6+vs7Ozt7e3u7u6HDshmAAAAC3RSTlMABX/Q0N/f9fX1/bVInmMAAAFVSURBVDjL7ZRZU8IwGEVpgRaamghC2RcXXMANsJR9sVJttf7/nyOG0uQLdsYnZ3Q8j70vyc25jcV+CklWtC5FU2SJ+55I2/47xbfTCZbIKZ8jJYeBsnrjWClhoHmvHJ4WBl0P0GWBC+CCZ8B3AgfABWsACzT7icNmx1XmNsecXVBWHzlUVokUV2fLFWU5U+N8vXJyV3uSr/3PEHXByEoiS2S193qg9vCh+oT0+YfaPa1Jmk3ysIYymKYzIPWbOjEdoI9FyD0pXZWIBb0aYMM4MC4MbEGv3CHOt05beTwUFPW8Ec6d5PBIkPpzBmN8hMfiDOhwJoeTveFsp/ayP7XIcUbO+d+rr7yaFnW0QS9OBa/K2c7dhk62LHilt28pbX0NvULXAciBXqHLACT8r9B5AAxcF50FIMErvXJMqeiCV9VMobGhkKkKXi1q2wvWFvte+b/Aqw/bXZA5o0+0VQAAAABJRU5ErkJggg==') no-repeat 0 0;
  line-height  : 24px;
}

div#dy-post-gallery-metabox input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

div#dy-post-gallery-metabox input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}