.swipebox-container-images .swipebox {
    width: 64px;
    border: 1px solid #ededed;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    background: #f8f8f8;
    float: left;
}

.swipebox-container-images .swipebox img{
	display: block;
	margin: auto;
    width: 100%;
    height: auto;
}

body.rtl .swipebox-container-images .swipebox {
    float: right;
}